.tv-show-container {
  background: transparent linear-gradient(90deg, #1E1A1BFC 0%, #0B0A0A8A 55%, #00000000 100%) 0% 0% no-repeat padding-box;
  opacity: 1;
  overflow: hidden;
  overflow-x: hidden;
}

.image-background {
  background-image: url("../../../assets/background-image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 90vh;
  width: 100% !important;
}

.dark-section {
  background: transparent linear-gradient(180deg, #1F1F2400 0%, #1F1F2400 20%, #1F1F2417 44%, #1F1F24 80%, #1F1F24 100%) 0% 0% no-repeat padding-box;
  min-height: 600px;
  width: 100%;
  margin-top: 200px;

}

.description-box {
  padding-left: 300px;
}

.description-box h3 {
  text-align: left;
  font: normal normal bold 59px/81px Manrope;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;
}

.RET-description {
  text-align: left;
  font: normal normal normal 16px/22px Manrope;
  letter-spacing: 0px;
  color: #FFFFFFD6;
  opacity: 1;
}

.flex-movie-container {
  width: 776px;
  margin: 0 auto;
}

.movie-summary {
  text-align: left;
  font: normal normal normal 14px/19px Manrope;
  letter-spacing: 0px;
  color: #FFFFFF;
  margin-top: -25px;
  margin-bottom: 25px;
  opacity: 1;
}

.movie-summary span {
  margin-left: 10px;
  margin-right: 10px;
}

#lower-search-box {
  width: 421px;
  height: 65px;
  background: transparent !important;
  border-radius: none !important;
  border: none !important;
  text-align: left;
  font: normal normal normal 16px/22px Manrope;
  letter-spacing: 0px;
  color: #FFFFFF99;
  opacity: 1;
  color: #fff !important;
  padding: 15px;
}

.ant-input-affix-wrapper {
  width: 100%;
  height: 65px;
  background: #37373B3D 0% 0% no-repeat padding-box !important;
  border-radius: 44px !important;
  border: none !important;
  opacity: 1;
  color: #F05366 !important;
  padding-left: 20px !important;
  font-size: 30px;
}

.search-container {
  padding-top: 250px;
  padding-bottom: 50px;
}

.movie-search-container {
  background: #1F1F24;
  height: 100px;
  opacity: 1;
}

.movie-name {
  width: 148px;
  height: 32px;
  background: #37373B 0% 0% no-repeat padding-box;
  border-radius: 44px;
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) 14px/19px var(--unnamed-font-family-manrope);
  letter-spacing: var(--unnamed-character-spacing-0);
  padding: 5px;
  font: normal normal normal 14px/19px Manrope;
  letter-spacing: 0px;
  color: #FFFFFFB3;
  opacity: 1;
}

.more-info-button {
  height: 55px;
  background: transparent;
  border: 2px dashed #FFFFFF;
  border-radius: 8px;
  color: #fff;
  opacity: 1;
  width: 100%;
}

.watch-button {
  width: 158px;
  height: 100%;
  color: #fff;
  background: #F05366 0% 0% no-repeat padding-box;
  border-radius: 8px;
  opacity: 1;
}

@media only screen and (max-width: 490px) {
  .dark-section {
    background: transparent linear-gradient(180deg, #1F1F2400 0%, #1F1F2400 20%, #1F1F2417 44%, #1F1F24 80%, #1F1F24 100%) 0% 0% no-repeat padding-box;
    min-height: 300px;
    width: 100%;
    margin-top: 200px;
  }

  .search-container {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  
  .description-box {
    padding-left: 50px;
  }

  .ant-input-affix-wrapper {
    width: 100%;
    height: 65px;
    background: #37373B3D 0% 0% no-repeat padding-box !important;
    border-radius: 44px !important;
    border: none !important;
    opacity: 1;
    color: #F05366 !important;
    padding-left: 20px !important;
    font-size: 30px;
  }

  .more-info-button {
    height: 55px;
    background: transparent;
    color: #fff;
    border: 2px dashed #FFFFFF;
    border-radius: 8px;
    opacity: 1;
    width: 140px;
  }
  
  .watch-button {
    width: 140px;
    color: #fff;
    height: 100%;
    background: #F05366 0% 0% no-repeat padding-box;
    border-radius: 8px;
    opacity: 1;
  }

  .image-background {
    background-image: url("../../../assets/background-image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 50vh;
    width: 100% !important;
  }   
}