.verification-container {
  top: 0px;
  left: 0px;
  width: 100%;
  min-height: 100vh;
  background: #262626 0% 0% no-repeat padding-box;
  opacity: 1;
  padding-top: 10%;
  padding-bottom: 5%;
}

.p {
  color: #F05366;
}

.card-body {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 32px;
}

.verification input[type="text"] {
  width: 44px !important;
  height: 70px !important;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 2px solid #70707057;
  border-radius: 8px;
  opacity: 1;
}

.verification input:focus {
  width: 46px !important;
  height: 70px !important;
  background: #FFFFFF 0% 0% no-repeat padding-box !important;
  border: 2px solid #F05366 !important;
  border-radius: 8px !important;
  opacity: 1;
}

.verify-button {
  width: 100%;
  height: 60px;
  background: #F05366 0% 0% no-repeat padding-box;
  border-radius: 6px;
  opacity: 1;
  color: #fff;
}



